<!DOCTYPE html>
<html lang="es">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        <meta charset="utf-8" />
        <title>Hola Mundo!</title>
    </head>
    <body>
<!------------------------------------- NAVBAR1--------------------------------->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Opciones</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <button id = "Cargar_Archivo" type="button" class="btn btn-secundary">Cargar archivo</button>
        <button id ="Carga_Estadisticas" type="button" class="btn btn-secundary">Mostrar estadísticas</button>
        <button id ="Reset" type="button" class="btn btn-secundary">Reset</button>
      </div>
    </div>
  </div>
</nav>
<!------------------------------------- /NAVBAR1--------------------------------->
<!------------------------------------- NAVBAR2--------------------------------->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Peticiones</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <input type="text" name="nombredelacaja">
        <button type="button" class="btn btn-secundary">Filtro fecha-usuario</button>
        <button type="button" class="btn btn-secundary">Filtro fecha-error</button>
      </div>
    </div>
  </div>
</nav>
<!------------------------------------- /NAVBAR2--------------------------------->
<!------------------------------------- NAVBAR3--------------------------------->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Ayuda</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <button type="button" class="btn btn-secundary">Información</button>
        <button type="button" class="btn btn-secundary">Documentación</button>        
      </div>
    </div>
  </div>
</nav>
<!------------------------------------- /NAVBAR3--------------------------------->
<div class="container">
  <div class="row">
    <div class="col-sm">
        <h1>Entrada</h1>
        <div id = "Entrada"></div>
    </div>
    <div class="col-sm">
        <h1>Salida</h1>
    </div>
  </div>
</div>


<script>
  let Entrada = document.getElementById("Entrada");
  let Cargar_Archivo = document.getElementById("Cargar_Archivo");

  Cargar_Archivo.addEventListener("click", (e) => {
    e.preventDefault();
    fetch("http://localhost:3000//Leer_Documento",{
      method: "POST",
      body: JSON.stringify({"ruta" : "C:/Users/usuario/Documents/Byron/5TO SEMESTRE/IPC2/Lab/Proyecto_Final/IPC2_Proyecto3_201906588/Entrada.xml"}),
      headers:{
        'Content-Type': 'application/json'
      }
    })
      .then((res)=>{

        Entrada.innerText = res.cadena    
        

      })



  }
  
  )

	



</script>









    </body>
</html>
